{% extends "template.html" %}
{% block body %}
<div>
  <h4>Choose a support category to get started:</h4>
</div>

<a href='billing/'><button type="button" class="btn btn-outline-primary">Billing, Refunds, Cancellations</button></a>
<br/>
<br/>
<a href='licensing/'><button type="button" class="btn btn-outline-primary">Licensing Issue</button></a>
<br/>
<br/>
<a href='billing/manage/'><button type="button" class="btn btn-outline-primary">Invoices and Receipts</button></a>
<br/>
<br/>
<a href='echnical/'><button type="button" class="btn btn-outline-primary">Technical Support</button></a>
{% endblock %}
