{% extends "template.html" %}
{% block body %}
<div>
  <h4>Fixing Black Screen:</h4>
</div>

<ol>
<li><b>Restart</b>
<p>Restart your phone and restart your computer. You'd be surprised how often this fixes things.</p></li>

<li><b>Reset to Defaults</b>
<p>Open your device settings in Vysor and click "Defaults". This will apply conservative settings that are likely to work.</p></li>

<li><b>Verifying PNaCl and OpenGL</b>
<p>Check if this <a href='https://gonativeclient.appspot.com/demo/cube'>test website</a> works.</p>

<p>If this website does work properly, then please <a href='https://plus.google.com/110558071969009568835/posts/JLuG3yqRdSH'>submit</a> an issue using the template and information.</p>

<p>If the cube website does NOT work, there is an issue with your computer, graphics card, or Chrome installation. Please verify the following.</p></li>

<li><b>Checking PNaCl Installation</b>
<p>Go to the following your browser:</p>
<p>chrome://nacl/</p>
<p>Verify that the Portable Native Client (PNaCl) is Enabled. If it is enabled, continue on to step 5. Otherwise, you will need to install it.</p>

<p>To install PNaCl, go to: chrome://components and find pnacl. You will see that the version listed is 0.0.0.0. Check for updates and install it, restart. Once installed, check the link above again to see if it works. If not, continue on below.</p></li>

<li><b>Checking OpenGL Drivers and Hardware acceleration</b>
<p>Make sure your graphics cards drivers (especially on Windows) are updated to the latest version and hardware acceleration is enabled in Chrome:
<ol>
<li>Go to chrome://settings -> Show advanced settings.</li>
<li>Here, you will find an option “Use hardware acceleration when available”.</li>
<li>Check it and restart the browser.</li>
</ol>
</p></li>

<li><b>Reinstall Chrome</b>
<p>Often times, this black screen issue can simply be fixed by uninstalling and reinstalling Chrome, as older versions of Chrome may not have properly installed the PNaCL component. Please try this!</p></li>

Do not open support tickets if the Cube demo does not work. The issue is not with Vysor, and is specific to your computer. The cube is a baseline test for WebGL. Please try the steps listed above for common solutions.


{% endblock %}
