{% extends "template.html" %}
{% block body %}
<div>
  <h4>Changing your Vysor login on Chrome:</h4>
</div>

<p>Standalone Windows, Mac, or Linux user? Please follow these <a href='/support/licensing/multiple/desktop/'>instructions</a>.</p>

<p>Vysor's licensing is tied to the Chrome account that launched Vysor. The "Chrome account" is different from your Gmail login in a browser tab. The Chrome account is the account that is logged into chrome at chrome://settings.</p>

<p>If you have multiple Google logins (like for Home and Work), and Vysor can't find your license, chances are that you opened Vysor with the wrong account.</p>

<ol>
<li>Open a Chrome Window.</li>
<li>Click the user login button in the top right (see screenshot)</li>
<li>Add your account if necessary, or switch to the login that has licensed Vysor.</li>
<li>Go to chrome://apps in the new window with the correct login</li>
<li>Open Vysor</li>
</ol>

<p>In the screenshots below, the user Koushik is logged in, but the app can't the license. Switching to the "Vysor User" account, which has purchased the license, then opening Vysor will allow the license to be correctly retrieved.</p>
<img src="/images/Chrome_settings_user.png"></img>
<img src="/images/Chrome_login.png"></img>
{% endblock %}
