{% extends "template.html" %}
{% block body %}
<div>
  <h4>Purchase Management:</h4>
  <h5>Manage your subscription. View your invoices and receipts.</h5>
</div>

<a href='chrome/'><button type="button" class="btn btn-outline-primary">My purchase was made on the Chrome store.</button></a>
<br/>
<br/>
<a href='https://billing.clockworkmod.com' target='_blank'><button type="button" class="btn btn-outline-primary">I have an individual license (NOT purchased on the Chrome store).</button></a>
<br/>
<br/>
<a href='https://billing.vysor.io' target='_blank'><button type="button" class="btn btn-outline-primary">I am a Vysor Enterprise customer.</button></a>
{% endblock %}
