{% extends "template.html" %}
{% block body %}
<div>
  <h4>Refunds:</h4>
</div>

<p>Chrome apps <a href='https://blog.chromium.org/2016/08/from-chrome-apps-to-web.html'>are being removed</a>, so Chrome Web Store purchases are not recommended. They are not eligible for refunds</p>

<p>All other purchases are refundable within 24 hours of purchase. Please contact <a href='mailto:billing@vysor.io'>billing@vysor.io</a> from your purchasing email account to request a refund. You must provide the following details: the account email for your purchase or an order/receipt number.</p>

{% endblock %}
